/* Reset */

body, h1, h2, h3, p, ul, li{
  padding: 0px;
  margin: 0px;
}

li {
  list-style: none;
}

body {
  background: #e7e4d8;
}

* {
  box-sizing: border-box;
}

img {
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: 'MONAKO';
  src: url("../font/MONAKO.TTF");
}

/* Estrutura */

/* .estrutura {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: 
  "header header header header"
  "intro-bg intro-bg intro-bg intro-bg"
  "content content content content"
  "footer footer footer footer"
  ;
} */

.estrutura {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 
  "header-top"
  "header-bottom"
  "intro-bg"
  "content"
  "footer"
  ;
}

/* Header */

.header-top {
  grid-area: header-top;
  background: linear-gradient(135deg, #599DFF, #5ABBE8);
  padding: 20px 20px 0 20px;
  display: grid;
  grid-template-columns: 200px 700px 200px;
  align-items: center;
  justify-content: center;
  grid-template-areas: 
  "logo form perfil"
  ;
}

.logo {
  grid-area: logo;
  display: flex;
  justify-self: flex-end;
}

.logo img {
  max-width: 180px;
  margin-right: 10px;
}

.header-top form {
  grid-area: form;
  display: flex;
  justify-self: center;
}

.buscar {
  border: none;
  border-radius: 10px 0 0 10px;
  width: 550px;
  padding: 10px;
  font-size: 1em;
}


.lupa {
  border: none;
  border-radius:0 10px 10px 0;
  background: #fff;
  max-width: 50px;
  padding: 12px;
}

.perfil {
  grid-area: perfil;
  /* background: crimson; */
}

.perfil li a {
  display: flex;
  float: left;
  padding: 10px;
  font-family: MONAKO, Georgia, 'Times New Roman', Times, serif;
  color: #fff;
  font-weight: bold;
  font-size: 1.125em;
  border-radius: 5px;
  transition: 0.1s;
}

.perfil li a:first-child {
  margin-right: 10px;
}

.perfil li a:hover {
  background: rgba(0, 0, 0, .1);
}

.perfil li img {
  max-width: 30px;
}

.header-bottom {
  padding: 0px 20px 5px 20px;
  background: linear-gradient(135deg, #599DFF, #5ABBE8);
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.header-bottom nav ul {
  display: flex;
  flex-wrap: wrap;
}

.header-bottom nav a {
  display: block;
  padding: 10px;
  font-family: MONAKO, Georgia, 'Times New Roman', Times, serif;
  color: #fff;
  font-weight: bold;
  font-size: 1.125em;
  border-radius: 5px;
  transition: 0.1s;
}

.header-bottom nav a:hover {
  background: rgba(0, 0, 0, .1);
}

.header-bottom li + li {  /* adiciona margem entre os itens ignorando o primeiro e o ultimo */
  margin-left: 10px;
}

/* Intro-bg */

.intro-bg {
  grid-area: intro-bg;
  background: url('../img/super-mercado.jpg') no-repeat center center;
  background-size: cover;
  padding: 100px 0;
  text-align: center;
}

.logo-centro {
  border: solid 2px #fff;
  border-radius: 20px;
  padding: 10px 60px;
  display: inline-block;
}

.logo-centro h3 {
  font-family: MONAKO, Georgia, 'Times New Roman', Times, serif;
  color: #fff;
  font-size: 2.5em;
  font-weight: bold;
  float: right;
  padding-top: 30px;
}

.logo-centro img {
  float: left;
  max-width: 100px;
}

.app a {
  position: relative;
  display: inline-block;
  top: 90px;
  max-width: 200px;
}

/* Conteúdo */

.content {
  grid-area: content;
  max-width: 1240px;
  margin: 0 auto;
  display: grid;
}

.oferta {
  padding: 60px 20px;
}

.oferta-item {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
}

.oferta-item img {
  border-radius: 5px;
}

.mais-buscados {
  padding: 60px 20px;
  border-top: 3px solid #d6d3c8;
  border-bottom: 3px solid #d6d3c8;
}

.mais-buscados ul li {
  padding-bottom: 20px;
}

.mais-buscados-item {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
}

.mais-buscados-item img {
  border-radius: 5px;
}

.encartes {
  padding: 60px 20px;
}

.encartes ul li {
  padding-bottom: 20px;
}

.encartes-item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.titulo h1 {
  font-family: MONAKO, Georgia, 'Times New Roman', Times, serif;
  color: #333;
  font-size: 2.25em;
  margin-bottom: 20px;
}

/* Footer */

.footer {
  grid-area: footer;
  background: linear-gradient(135deg, #599DFF, #5ABBE8);
}

.sobre {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-bottom: 3px solid #599DFF;
  align-items: center;
  padding: 20px;
  justify-items: center;
}

.sobre h2 {
  font-family: MONAKO, Georgia, 'Times New Roman', Times, serif;
  color: #333;
  font-size: 1em;
  padding-bottom: 8px;
}

.sobre ul li a {
  font-family: MONAKO, Georgia, 'Times New Roman', Times, serif;
  color: #333;
  font-size: 0.875em;
}

.termos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 20px;
  justify-items: center;
}

.logo-footer a img {
  width: 56px;
  height: 56px;
  float: left;
}

.logo-footer p {
  font-family: MONAKO, Georgia, 'Times New Roman', Times, serif;
  color: #000;
  font-size: 1.5em;
  font-weight: bold;
  float: right;
}

.termos-e-cond a {
  font-family: MONAKO, Georgia, 'Times New Roman', Times, serif;
  color: #333;
  font-size: 0.875em;
}

/* Animação maquina de escrever */

h3::after {
  content: '|';
  margin-left: 5px;
  opacity: 1;
  animation: pisca .7s infinite;
}

@keyframes pisca {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.input-hamburguer {
  display: none;
}

/* Pontos de quebra */

@media (max-width: 1155px) {
  .header-top {
    grid-template-columns: 200px 600px 200px;
  }
  .buscar {
    width: 400px;
  }
}

@media (max-width: 1055px) {
  .header-top {
    grid-template-columns: 200px 500px 200px;
  }
  .buscar {
    width: 400px;
  }
}

@media (max-width: 955px) {
  .header-top {
    grid-template-columns: 200px 400px 200px;
  }
  .buscar {
    width: 300px;
  }
}

@media (max-width: 855px) {
  .content {
    /* max-width: 100%; */
    
  }
  .header-top {
    grid-template-columns: 300px 300px;
    grid-template-areas: 
    "logo perfil"
    "form form"
    ;
  }
  .logo {
    justify-self: center;
  }
  .perfil {
    justify-self: center;
    display: flex;
  }
  .buscar {
    width: 500px;
  }
  .header-top form {
    padding: 10px 0 20px 0;
  }
  .oferta-item {
    grid-template-columns: repeat(2, 1fr);
  }
  .mais-buscados-item {
    grid-template-columns: repeat(2, 1fr);
  }
  .encartes-item {
    grid-template-columns: repeat(2, 1fr);
  }
  .header-bottom {
    /* display: none; */
  }
  .logo-centro {
    padding: 10px 40px;
    /* width: 300px; */
  }
  .logo-centro h3 {
    font-size: 1.5em;
    padding-top: 20px;
  }
  .logo-centro img {
    float: left;
    max-width: 60px;
  }
}

@media (max-width: 755px) {
  .header-top {
    grid-template-columns: 300px;
  }
  .buscar {
    width: 260px;
  }
  .perfil {
    display: none;
  }

  /* MENU HAMBURGUER */

  .menu {
    background: #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: fixed;
    top: 27px;
    right: 15px;
    cursor: pointer;
    box-shadow: 0 0 0 0 #fff, 0 0 0 0 #fff;
    transition: box-shadow 1.1s cubic-bezier(.19, 1, .22, 1);
  }

  .hamburguer {
    position: relative;
    display: block;
    background: #000;
    width: 28px;
    height: 2px;
    top: 24px;
    left: 11px;
    transition: .5s ease-in-out;
  }

  .hamburguer::before, .hamburguer::after {
    background: #000;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: .5s ease-in-out;
  }

  .hamburguer::before {
    top: -8px;
  }

  .hamburguer::after {
    bottom: -8px;
  }

  .input-hamburguer {
    display: none;
  }

  input:checked ~ ul {
    opacity: 1;
    display: table;
  }

  input:checked ~ label .menu {
    box-shadow: 0 0 0 180vw #fff, 0 0 0 180vw #fff;
  }

  input:checked ~ label .hamburguer {
    transform: rotate(45deg);
  }

  input:checked ~ label .hamburguer::before {
    transform: rotate(90deg);
    top: 0;
  }

  input:checked ~ label .hamburguer::after {
    transform: rotate(90deg);
    bottom: 0;
  }
}